title=title
meta(chartset="ISO-8859-1")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="/plugin/node_modules/material-design-lite/material.min.css")
link(link rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet", href="/css/general.css")
